---
layout: default
---

<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Category</label>
<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
  <option selected>All</option>
  <option value="1">Motivational</option>
  <option value="2">Educational</option>
  <option value="3">Comedy</option>
  <option value="3">Random/Other</option>
</select>

<div class="posts">
  {% for post in site.posts %}
    {% if post.type == "post" %}

    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <p>Category: {{ post.category }}</p>
      <div class="date">
        Written on {{ post.date | date: "%B %e, %Y" }}
      </div>


      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endif %}
  {% endfor %}
</div>